.pai {
    background-color: rgb(253, 248, 241);
    width: 600px;
    height: 250px;
    border: solid 2px #000;
    margin: 10px;
}

.caixa {
    background-color: #ff0080;
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

.titulo {
    font-family: monospace;
}

.cor-padrao {
    color: rgba(230, 255, 5, 0.692);
    font-size: 30px;
}

